.wx_loading2 {
  background-color: #fff
}
.wx_loading2 {
  text-align: center;
  padding: 5px;
  height: 32px;
  position: relative
}

.wx_loading2 img {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto
}

.wx_loading2 .wx_loading_icon {
  border-color: #237fe5;
  top: 7px
}

.wx_loading_icon {
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -16px;
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 24px;
  -webkit-animation: gif 1s infinite linear;
  animation: gif 1s infinite linear;
  clip: rect(0 auto 12px 0)
}

@keyframes gif {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@-webkit-keyframes gif {
  0% {
    -webkit-transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn)
  }
}
