<div class="seckill_items_list">
  <a href="javascript:;" class="" *ngFor="let item of items">
    <img src="" class="seckill_items_cover" alt="">
    <div class="seckill_items_meta"></div>
    <div class="seckill_items_tag">
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_tag" fill="#4FD88A"></use>
      </svg>
      {{item.tab}}
    </div>
  </a>

  <a class=" " href="//wq.jd.com/item/view?sku=2342593&amp;pps=mart.FO4O304%3AAO23BEC13O45D7F3O1BE6D08%3ACO319O17O19O3EA00BD06B36O64007075BEE5E60BCB16&amp;DAP=0:4303569618611:524299:0:2342593&amp;PTAG=39696.3.3">
    <img class="seckill_items_cover" src="//img20.360buyimg.com/n1/s200x200_jfs/t2590/338/4222589387/237425/25e40fb/57b12ac6N61374a75.jpg.webp">
    <div class="seckill_items_meta">
      <h4 class="seckill_items_fn">Apple MacBook Pro 13.3英寸笔记本电脑 银色(Core i5 处理器/8GB内存/128GB SSD闪存/Retina屏 MF839CH/A)</h4>
      <p class="seckill_items_prices">
            <span>¥
                <strong>9188</strong>.00</span>
        <del>¥9288.00</del></p>
      <p class="seckill_items_sq">
        <button class="seckill_items_buy">立即抢购</button>
        <span class="seckill_items_reserve">
                <strong>已售 33%</strong>
                <span class="seckill_items_reserve_bar">
                    <em style="width:33%"></em>
                </span>
            </span>
      </p>
    </div>
    <div class="seckill_items_tag">
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_tag" fill="#4FD88A"></use>
      </svg>大牌秒</div>
  </a>

  <a class=" " href="//wq.jd.com/item/view?sku=2342593&amp;pps=mart.FO4O304%3AAO23BEC13O45D7F3O1BE6D08%3ACO319O17O19O3EA00BD06B36O64007075BEE5E60BCB16&amp;DAP=0:4303569618611:524299:0:2342593&amp;PTAG=39696.3.3">
    <img class="seckill_items_cover" src="//img20.360buyimg.com/n1/s200x200_jfs/t2590/338/4222589387/237425/25e40fb/57b12ac6N61374a75.jpg.webp">
    <div class="seckill_items_meta">
      <h4 class="seckill_items_fn">Apple MacBook Pro 13.3英寸笔记本电脑 银色(Core i5 处理器/8GB内存/128GB SSD闪存/Retina屏 MF839CH/A)</h4>
      <p class="seckill_items_prices">
            <span>¥
                <strong>9188</strong>.00</span>
        <del>¥9288.00</del></p>
      <p class="seckill_items_sq">
        <button class="seckill_items_buy">立即抢购</button>
        <span class="seckill_items_reserve">
                <strong>已售 33%</strong>
                <span class="seckill_items_reserve_bar">
                    <em style="width:33%"></em>
                </span>
            </span>
      </p>
    </div>
    <div class="seckill_items_tag">
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_tag" fill="#4FD88A"></use>
      </svg>大牌秒</div>
  </a>

  <a class=" " href="//wq.jd.com/item/view?sku=2342593&amp;pps=mart.FO4O304%3AAO23BEC13O45D7F3O1BE6D08%3ACO319O17O19O3EA00BD06B36O64007075BEE5E60BCB16&amp;DAP=0:4303569618611:524299:0:2342593&amp;PTAG=39696.3.3">
    <img class="seckill_items_cover" src="//img20.360buyimg.com/n1/s200x200_jfs/t2590/338/4222589387/237425/25e40fb/57b12ac6N61374a75.jpg.webp">
    <div class="seckill_items_meta">
      <h4 class="seckill_items_fn">Apple MacBook Pro 13.3英寸笔记本电脑 银色(Core i5 处理器/8GB内存/128GB SSD闪存/Retina屏 MF839CH/A)</h4>
      <p class="seckill_items_prices">
            <span>¥
                <strong>9188</strong>.00</span>
        <del>¥9288.00</del></p>
      <p class="seckill_items_sq">
        <button class="seckill_items_buy">立即抢购</button>
        <span class="seckill_items_reserve">
                <strong>已售 33%</strong>
                <span class="seckill_items_reserve_bar">
                    <em style="width:33%"></em>
                </span>
            </span>
      </p>
    </div>
    <div class="seckill_items_tag">
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_tag" fill="#4FD88A"></use>
      </svg>大牌秒</div>
  </a>

  <a class=" " href="//wq.jd.com/item/view?sku=2342593&amp;pps=mart.FO4O304%3AAO23BEC13O45D7F3O1BE6D08%3ACO319O17O19O3EA00BD06B36O64007075BEE5E60BCB16&amp;DAP=0:4303569618611:524299:0:2342593&amp;PTAG=39696.3.3">
    <img class="seckill_items_cover" src="//img20.360buyimg.com/n1/s200x200_jfs/t2590/338/4222589387/237425/25e40fb/57b12ac6N61374a75.jpg.webp">
    <div class="seckill_items_meta">
      <h4 class="seckill_items_fn">Apple MacBook Pro 13.3英寸笔记本电脑 银色(Core i5 处理器/8GB内存/128GB SSD闪存/Retina屏 MF839CH/A)</h4>
      <p class="seckill_items_prices">
            <span>¥
                <strong>9188</strong>.00</span>
        <del>¥9288.00</del></p>
      <p class="seckill_items_sq">
        <button class="seckill_items_buy">立即抢购</button>
        <span class="seckill_items_reserve">
                <strong>已售 33%</strong>
                <span class="seckill_items_reserve_bar">
                    <em style="width:33%"></em>
                </span>
            </span>
      </p>
    </div>
    <div class="seckill_items_tag">
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_tag" fill="#4FD88A"></use>
      </svg>大牌秒</div>
  </a>

</div>
