<!--<meepo-download-box-->
  <!--[image]="image"-->
  <!--title="恭喜发财 , 红包拿来"-->
  <!--(onClose)="showDownloadBox = false"-->
  <!--*ngIf="showDownloadBox"-->
  <!--(onSuccess)="clickDownLoad()"-->
<!--&gt;</meepo-download-box>-->


<!--<meepo-error></meepo-error>-->

<!--<button (click)="show = !show">切换</button>-->
<!--<meepo-loading [show]="show"></meepo-loading>-->

<div meepo-user-card
     [info]="info"
>
</div>

<meepo-pay-money
  [items]="moneyItems"
  (onSelect)="onSelect($event)"
></meepo-pay-money>


<div meepo-pay-fixed-bottom
     [total]="total"
     btnTitle="立即支付"
     [youhui]="youhui"
     (onPay)="onPay()"
>
</div>
