*{
  margin:0px;
  padding:0px;
}
a{
  text-decoration: none;
}
.m-user-base {
  display: block;
  padding: 0 10px;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
  display: -moz-box;
  display: -webkit-box;
}

.m-user-base:last-child {
  border-bottom: 0
}

@font-face {
  font-family: 'iconography';
  src: url('iconfont.eot');
  src: url('iconfont.ttf') format('truetype'),url('iconfont.svg#iconfont') format('svg')
}

.c-glyphicon {
  position: relative;
  display: inline-block;
  font-size: .13rem;
  font-family: 'iconography';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #20bc22;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.c-glyphicon-arrowRight:before {
  content: "\e60c";
  color: #808080
}
.c-glyphicon-arrowRight {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c-checked-icon {
  background-image: url(c-checked-icon.png);
  background-size: 44px 22px;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}

.m-user-base.borderT {
  border-top: 1px solid #f0f0f0
}

.m-user-base .base-tit {
  position: relative;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  display: block;
  line-height: 45px;
  font-size: 15px;
}

.m-user-base .base-tit .radio-wrap {
  width: 40px;
  display: inline-block;
  text-align: center;
  vertical-align: 1px;
  margin-left: -10px;
  margin-right: -4px;
}

.m-user-base .base-tit .c-des {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  font-size: 13px;
  color: #666;
  text-align: right
}

.m-user-base .base-tit .c-des.c-discount {
  color: #ff6000
}

.m-user-base .base-tit .c-glyphicon {
  margin-right: 10px;
  vertical-align: -1px;
}

.m-user-base .base-tit.disabled {
  color: #999
}

.m-user-base .base-tit.disabled .c-des {
  color: #999
}

.m-user-base .btn-user-exit {
  color: #c33
}

.m-user-base .c-glyphicon {
  font-size: 18px;
  line-height: 43px;
}

.m-user-base .c-glyphicon-subscribe {
  font-size: 16px;
  padding-right: 2px;
}

.m-user-base .c-glyphicon-kefu {
  font-size: 22px;
  line-height: 45px;
  margin-right: 10px;
}

.m-user-base .c-glyphicon-arrowRight:before {
  font-size: 15px;
}

.m-user-base .c-grade-vipNormal {
  margin-top: 11px;
  vertical-align: middle
}

.m-user-base .c-time {
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 47px;
  font-size: 14px;
  color: #999;
  text-align: right
}

.m-user-base .c-num {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: 2px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  border-radius: 50%;
  background-color: #ff2500
}

.m-user-base-vip .base-tit {
  font-size: 13px;
  color: #c8a06a
}

.m-user-base-vip .base-tit .icon-gift-v {
  width: 16px;
  height: 16px;
  margin-top: 14px;
  margin-right: 10px;
  display: inline-block;
  background-image: url(gift-v.png);
  background-size: cover;
  vertical-align: -3px;
}

.m-user-base-vip .c-glyphicon-arrowRight:before {
  color: #c8a06a
}
